.gallery-item {
  position: relative;
  width: fit-content;
  height: 260px;
  padding: 10px;
  margin: 5px 5px;
  border: 1px solid gray;
  background-color: white;
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0, 0.4));
}

.img-holder {
  position: relative;
  transition: all 0.3s;
}

img {
  max-width: 100%;
  min-height: 200px;
  width: 200px;
  object-fit: cover;
  cursor: pointer;
  filter: none;
  transition: all 0.25s;
}

img:hover {
  filter: blur(1px) grayscale(40%) brightness(0.7);
}

.show-desc-text {
  pointer-events: none;
  user-select: none;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.25s;
  cursor: pointer;
}

img:hover ~ .show-desc-text {
  opacity: 1;
}

.img-description {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 200px;
  background-color: rgb(255, 255, 255, 0.8);
}

.description-text {
  position: absolute;
  pointer-events: none;
  user-select: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  font-size: 14px;
}

#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.img-like-display {
  padding-top: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  user-select: none;
  color: rgb(0, 0, 0, 0.6)
}

.btn:hover {
  font-variation-settings: 'wght' 400;
  color: black;
}

#delete-btn {
  float: right;
}

#delete-btn:active {
  font-variation-settings: 'FILL' 1;
  color: black;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

.material-symbols-outlined.clicked {
  font-variation-settings: 'FILL' 1;
  color: rgb(210, 0, 0)
}
