.gallery-item {
  position: relative;
  border: 1px solid gray;
  width: fit-content;
  padding: 10px 10px 70px 10px;
  margin: 5px 5px;
}

.img-holder {
  position: relative;
  width: 200px;
  transition: all 0.3s;
}

img {
  max-width: 100%;
  cursor: pointer;
  filter: none;
  transition: all 0.3s;
}

img:hover {
  filter: blur(1px) grayscale(40%) brightness(0.7);
}

.show-desc-text {
  pointer-events: none;
  user-select: none;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s;
  cursor: pointer;
}

img:hover ~ .show-desc-text {
  opacity: 1;
}