.gallery-item {
  border: 1px solid gray;
  width: fit-content;
  padding: 10px 10px 70px 10px;
  margin: 5px 5px;
}

img {
  width: 200px;
  cursor: pointer;
  filter: blur(0px);
  transition: 0.3s;
}

img:hover {
  filter: blur(1px);
  transition: 0.3s;
}