label {
  font-size: 14px;
}

input {
  display: block;
  margin: 4px auto;
  padding: 5px 3px;
  width: 300px;
}

button {
  margin: 5px;
  height: 2em;
  width: 100px;
  cursor: pointer;
}

button:active {
  background: black;
  color: white;
}